In [7]:
pip install pandas

Requirement already satisfied: pandas in /opt/homebrew/lib/python3.10/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /opt/homebrew/lib/python3.10/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/henriquemiyamoto/Library/Python/3.10/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/homebrew/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /Users/henriquemiyamoto/Library/Python/3.10/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python3.10 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [8]:
import pandas as pd

In [9]:
df = pd.read_csv('files/historico-alg1_SIGA_ANONIMIZADO.csv')
df.head(5)

,matricula,codigo,disciplina,periodo,ano,curriculo,ch,nota,frequencia,status,tipo,observacao,natureza,situacaoDiscente,nomeTuma,codigoCurriculoSie
0,0,CI055,ALGORITMOS E ESTRUTURAS DE DADOS I,1,2016,Sim,60,67,96,Aprovado,TURMA,C,Obrigatória,Conclusão formatura,NaN,21A
1,1,CI1055,ALGORITMOS E ESTRUTURAS DE DADOS 1,1,2019,Sim,60,0,73,R-freq,TURMA,NaN,Obrigatória,Registro ativo,A,21A
2,1,CI1055,ALGORITMOS E ESTRUTURAS DE DADOS 1,2,2019,Sim,60,11,76,R-nota,TURMA,NaN,Obrigatória,Registro ativo,B,21A
3,1,CI1055,ALGORITMOS E ESTRUTURAS DE DADOS 1,2,2020,Sim,60,0,0,Cancelado,TURMA,NaN,Obrigatória,Registro ativo,B,21A
4,1,CI1055,ALGORITMOS E ESTRUTURAS DE DADOS 1,1,2020,Sim,60,0,0,Cancelado,TURMA,NaN,Obrigatória,Registro ativo,ERE 2 - D,21A

In [10]:
# exploração de dados

df_agg = df.groupby(['disciplina','codigo', 'periodo', 'ch', 'observacao', 'situacaoDiscente']).agg(        
    avg_nota = ('nota', 'mean'),
    median_nota = ('nota', 'median'),
    min = ('nota', 'min'),
    count = ('matricula', 'count')
    )

df_agg

                                                                                     avg_nota  \
disciplina                         codigo periodo ch observacao situacaoDiscente
ALGORITMOS E ESTRUTURAS DE DADOS 1 CI1055 1       60 A          Evasão                   0.00
                                                     B          Evasão                  93.00
                                                     C          Evasão                   0.00
                                                     D          Evasão                   0.00
                                                     ERE 2 - A  Evasão                   0.00
                                                     ERE 2 - B  Evasão                  72.00
ALGORITMOS E ESTRUTURAS DE DADOS I CI055  1       60 A          Conclusão formatura     30.50
                                                     B          Conclusão formatura     53.25
                                                                Evasão                   7.00
                                                     C          Conclusão formatura     68.75
                                                                Evasão                  57.00
                                                     D          Conclusão formatura     85.00
                                                     L          Conclusão formatura     68.00
                                          2       60 A          Conclusão formatura     58.50
                                                     B          Conclusão formatura     80.00
                                                                Evasão                  56.00

                                                                                     median_nota  \
disciplina                         codigo periodo ch observacao situacaoDiscente
ALGORITMOS E ESTRUTURAS DE DADOS 1 CI1055 1       60 A          Evasão                       0.0
                                                     B          Evasão                      93.0
                                                     C          Evasão                       0.0
                                                     D          Evasão                       0.0
                                                     ERE 2 - A  Evasão                       0.0
                                                     ERE 2 - B  Evasão                      72.0
ALGORITMOS E ESTRUTURAS DE DADOS I CI055  1       60 A          Conclusão formatura         30.5
                                                     B          Conclusão formatura         59.5
                                                                Evasão                       7.0
                                                     C          Conclusão formatura         72.5
                                                                Evasão                      57.0
                                                     D          Conclusão formatura         85.0
                                                     L          Conclusão formatura         68.0
                                          2       60 A          Conclusão formatura         58.5
                                                     B          Conclusão formatura         80.0
                                                                Evasão                      56.0

                                                                                     min  \
disciplina                         codigo periodo ch observacao situacaoDiscente
ALGORITMOS E ESTRUTURAS DE DADOS 1 CI1055 1       60 A          Evasão                 0
                                                     B          Evasão                93
                                                     C          Evasão                 0
                                                     D          Evasão                 0
                                                     ERE 2 - A  Evasão                 0
                                                     ERE 2 - B  Evasão                72
ALGORITMOS E ESTRUTURAS DE DADOS I CI055  1       60 A          Conclusão formatura   25
                                                     B          Conclusão formatura    0
                                                                Evasão                 7
                                                     C          Conclusão formatura   51
                                                                Evasão                57
                                                     D          Conclusão formatura   70
                                                     L          Conclusão formatura   68
                                          2       60 A          Conclusão formatura   31
                                                     B          Conclusão formatura   80
                                                                Evasão                56

                                                                                     count
disciplina                         codigo periodo ch observacao situacaoDiscente
ALGORITMOS E ESTRUTURAS DE DADOS 1 CI1055 1       60 A          Evasão                   1
                                                     B          Evasão                   1
                                                     C          Evasão                   3
                                                     D          Evasão                   1
                                                     ERE 2 - A  Evasão                   1
                                                     ERE 2 - B  Evasão                   1
ALGORITMOS E ESTRUTURAS DE DADOS I CI055  1       60 A          Conclusão formatura      2
                                                     B          Conclusão formatura      4
                                                                Evasão                   1
                                                     C          Conclusão formatura      4
                                                                Evasão                   1
                                                     D          Conclusão formatura      2
                                                     L          Conclusão formatura      1
                                          2       60 A          Conclusão formatura      2
                                                     B          Conclusão formatura      1
                                                                Evasão                   1

In [11]:
df_agg = df.groupby(['curriculo', 'tipo']).agg(            
    avg_nota = ('nota', 'mean'),
    median_nota = ('nota', 'median'),
    min = ('nota', 'min'),
    count = ('matricula', 'count')
    )

df_agg

                           avg_nota  median_nota  min  count
curriculo tipo
Não       EQUIVALENCIA     0.000000          0.0    0      3
          TURMA           58.542169         70.0    0    166
Sim       APROVEITAMENTO   5.000000          5.0    5      1
          EQUIVALENCIA     0.964286          0.0    0    140
          TURMA           52.213689         69.0    0    599

In [22]:
# exploração de dados

df_filtered = df.reset_index()
df_filtered = df_filtered[
    (df_filtered['status'] == 'Matriculado')
    
]

df_filtered.head()

,index,matricula,codigo,disciplina,periodo,ano,curriculo,ch,nota,frequencia,status,tipo,observacao,natureza,situacaoDiscente,nomeTuma,codigoCurriculoSie,total
8,8,1,CI1055,ALGORITMOS E ESTRUTURAS DE DADOS 1,2,2022,Sim,60,0,0,Matriculado,TURMA,NaN,Obrigatória,Registro ativo,BCC1,21A,total
12,12,4,CI1055,ALGORITMOS E ESTRUTURAS DE DADOS 1,2,2022,Sim,60,0,0,Matriculado,TURMA,NaN,Obrigatória,Registro ativo,BCC1,21A,total
70,70,35,CI1055,ALGORITMOS E ESTRUTURAS DE DADOS 1,2,2022,Sim,60,0,0,Matriculado,TURMA,NaN,Obrigatória,Registro ativo,BCC1,21A,total
73,73,37,CI1055,ALGORITMOS E ESTRUTURAS DE DADOS 1,2,2022,Sim,60,0,0,Matriculado,TURMA,NaN,Obrigatória,Registro ativo,BCC1,21A,total
106,106,60,CI1055,ALGORITMOS E ESTRUTURAS DE DADOS 1,2,2022,Sim,60,0,0,Matriculado,TURMA,NaN,Obrigatória,Registro ativo,BCC1,21A,total

In [24]:
# exploração de dados

df_agg = df.groupby(['disciplina','status', 'natureza','ano']).agg(    
    avg_nota = ('nota', 'mean'),
    median_nota = ('nota', 'median'),
    min = ('nota', 'min'),
    count = ('matricula', 'count')
    )

df_agg.head()

                                                                avg_nota  \
disciplina                         status    natureza    ano
ALGORITMOS E ESTRUTURAS DE DADOS 1 Aprovado  Obrigatória 2019  31.450495
                                                         2020  72.400000
                                                         2021  83.882353
                                                         2022  76.428571
                                   Cancelado -           2020   0.000000

                                                               median_nota  \
disciplina                         status    natureza    ano
ALGORITMOS E ESTRUTURAS DE DADOS 1 Aprovado  Obrigatória 2019          0.0
                                                         2020         84.0
                                                         2021         85.5
                                                         2022         76.0
                                   Cancelado -           2020          0.0

                                                               min  count
disciplina                         status    natureza    ano
ALGORITMOS E ESTRUTURAS DE DADOS 1 Aprovado  Obrigatória 2019    0    202
                                                         2020    0     70
                                                         2021   50     68
                                                         2022    0     56
                                   Cancelado -           2020    0      1

In [14]:
# Vamos obter informações sobre o rendimento de alunos de um curso em algumas disciplinas ao longo dos anos.
# O primeiro arquivo contido no Dataset Notas, historico-alg1_SIGA_ANONIMIZADO.csv, refere-se ao aproveitamento de estudantes na disciplina ALGORITMOS 1 entre os anos de 2011 e 2022.

# A primeira coluna ("matricula") é composta por números inteiros, onde cada número representa um indivíduo. Assim, repetições nessa coluna indicam que o estudante fez mais de uma vez a mesma matéria.

# Atenção: R-nota indica REPROVAÇÃO POR NOTA e R-freq REPROVAÇÃO POR FALTA. Se houver outro "status" para representar reprovação, este dever ser trocado para o rótulo adequado (R-nota ou R-freq). Frequências < 75 causam reprovação por falta; Médias abaixo de 50 causam reprovação por nota.

In [27]:
# 1. Qual é a média de nota dos aprovados (no período total e por ano)?

df_filtered = df.reset_index()
df_filtered = df_filtered[
    (df_filtered['status'] == 'Aprovado') & 
    (df_filtered['tipo'] == 'TURMA') # outros são equivalencia e aproveitamento
    
]
df_filtered['total'] = 'total'

df_1_ano = df_filtered.groupby(['ano']).agg(        
    avg_nota = ('nota', 'mean'),
    median_nota = ('nota', 'median'),
    min_nota = ('nota', 'min'),
    max_nota = ('nota', 'max'),
    count = ('matricula', 'count')
    )

df_1_total = df_filtered.groupby(['total']).agg(        
    avg_nota = ('nota', 'mean'),
    median_nota = ('nota', 'median'),
    min_nota = ('nota', 'min'),
    max_nota = ('nota', 'max'),
    count = ('matricula', 'count')
    )

df_1_all = pd.concat([df_1_ano, df_1_total], axis=0)
df_1_all['avg_nota'].round(1)

2011     50.0
2013     72.7
2014     70.7
2015     68.6
2016     72.1
2017     78.1
2018     76.4
2019     74.7
2020     84.5
2021     83.9
2022     77.8
total    77.6
Name: avg_nota, dtype: float64

In [28]:
# 2. Qual é a média de nota dos reprovados por nota (período total e ano)?

df_filtered = df.reset_index()
df_filtered = df_filtered[
    (df_filtered['status'].isin(['R-nota', 'R-freq'])) & 
    (df_filtered['tipo'] == 'TURMA')
    
]
df_filtered['total'] = 'total'

df_2_ano = df_filtered.groupby(['ano']).agg(        
    avg_nota = ('nota', 'mean'),
    median_nota = ('nota', 'median'),    
    min_nota = ('nota', 'min'),
    max_nota = ('nota', 'max'),
    count = ('matricula', 'count')
    )

df_2_total = df_filtered.groupby(['total']).agg(        
    avg_nota = ('nota', 'mean'),
    median_nota = ('nota', 'median'),
    min_nota = ('nota', 'min'),
    max_nota = ('nota', 'max'),
    count = ('matricula', 'count')
    )

df_2_all = pd.concat([df_2_ano, df_2_total], axis=0)
df_2_all['avg_nota'].round(1)

2012     12.0
2013     30.0
2014     11.4
2015     17.0
2016     12.8
2017     24.3
2018     19.9
2019     19.1
2020     17.3
2021     14.0
2022     16.0
total    17.4
Name: avg_nota, dtype: float64

In [29]:
# 3. Qual é a frequência dos reprovados por nota (período total e por ano)?

df_filtered = df.reset_index()
df_filtered = df_filtered[
    (df_filtered['status'].isin(['R-nota'])) & 
    (df_filtered['tipo'] == 'TURMA')
    
]
df_filtered['total'] = 'total'

df_3_ano = df_filtered.groupby(['ano']).agg(        
    avg_freq = ('frequencia', 'mean'),
    median_freq = ('frequencia', 'median'),
    min_freq = ('frequencia', 'min'),
    max_freq = ('frequencia', 'max'),
    count = ('matricula', 'count')
    )

df_3_total = df_filtered.groupby(['total']).agg(        
    avg_freq = ('frequencia', 'mean'),
    median_freq = ('frequencia', 'median'),
    min_freq = ('frequencia', 'min'),
    max_freq = ('frequencia', 'max'),
    count = ('matricula', 'count')
    )

df_3_all = pd.concat([df_3_ano, df_3_total], axis=0)
df_3_all['avg_freq'].round(1)

2012      98.0
2013     100.0
2014      90.0
2015      94.7
2016      86.2
2017      93.7
2018      93.5
2019      90.9
2020      96.1
2021      94.9
2022      95.6
total     93.9
Name: avg_freq, dtype: float64

In [18]:
# 4. Qual a porcentagem de evasões (total e anual)?
  
df_4_total = df
df_4_total['total'] = 'total'

df_4_ano = df.groupby('ano').agg(
    count_evasao=('situacaoDiscente', lambda x: (x == 'Evasão').sum()),
    count_all=('situacaoDiscente', 'size'), 
)

df_4_ano['ratio_evasao_all'] = df_4_ano['count_evasao'] / df_4_ano['count_all']

df_4_total = df.groupby('total').agg(
    count_evasao=('situacaoDiscente', lambda x: (x == 'Evasão').sum()),  
    count_all=('situacaoDiscente', 'size'),  
)    

df_4_total['ratio_evasao_all'] = df_4_total['count_evasao'] / df_4_total['count_all']

df_4_all = pd.concat([df_4_ano, df_4_total], axis=0)
df_4_all.round(2)

       count_evasao  count_all  ratio_evasao_all
2011              0          1              0.00
2012              0          4              0.00
2013              7         11              0.64
2014              3         13              0.23
2015              7         35              0.20
2016              8         53              0.15
2017             17         92              0.18
2018             22         96              0.23
2019             39        238              0.16
2020             19        106              0.18
2021             17        138              0.12
2022              3        122              0.02
total           142        909              0.16

In [19]:
# 5. Como os anos de pandemia impactaram no rendimento dos estudantes em relação aos anos anteriores, considerando o rendimento dos aprovados, 
# a taxa de cancelamento e as reprovações? Considere como anos de pandemia os anos de 2020 e 2021.

df_filtered = df.reset_index()

df_filtered['grupo_ano'] = df_filtered.apply(
    lambda x: '2018-2019' if x['ano'] in [2018, 2019] 
    else ('2020-2021' if x['ano'] in [2020, 2021] 
    else ('2022-1' if x['ano'] == 2022 and x['periodo'] == '1' 
    else ('2022-2' if x['ano'] == 2022 and x['periodo'] == '2' 
    else 'Outros'))),
    axis=1)

df_filtered = df_filtered[
    (df_filtered['status'] != 'Matriculado') & # parece ser casos que a disciplina ainda está em aberto
    (df_filtered['tipo'] == 'TURMA') & # outros são equivalencia e aproveitamento
    (df_filtered['grupo_ano'].isin(['2018-2019', '2020-2021'])) # outros são equivalencia e aproveitamento
]


df_5 = df_filtered.groupby(['grupo_ano']).agg(        
    pct_aprovado=('status', lambda x: (x == 'Aprovado').sum() / len(x) * 100),
    pct_reprovado_nota=('status', lambda x: (x == 'R-freq').sum() / len(x) * 100),
    pct_reprovado_freq=('status', lambda x: (x == 'R-nota').sum() / len(x) * 100),
    pct_cancelado=('status', lambda x: (x == 'Cancelado').sum() / len(x) * 100),
    pct_reprovado=('status', lambda x: (x == 'Reprovado').sum() / len(x) * 100),
    pct_matriculado=('status', lambda x: (x == 'Matriculado').sum() / len(x) * 100),     
    avg_nota = ('nota', 'mean'),       
    avg_nota_aprovados=('nota', lambda x: x[df_filtered.loc[x.index, 'status'] == 'Aprovado'].mean()),
    avg_nota_reprovados_nota =('nota', lambda x: x[df_filtered.loc[x.index, 'status'].isin(['R-nota'])].mean()),     
    avg_nota_reprovados_freq =('nota', lambda x: x[df_filtered.loc[x.index, 'status'].isin(['R-freq'])].mean()),     
    count_aprovado=('status', lambda x: (x == 'Aprovado').sum()),
    count_reprovado_nota=('status', lambda x: (x == 'R-freq').sum()),
    count_reprovado_freq=('status', lambda x: (x == 'R-nota').sum()),
    count_cancelado=('status', lambda x: (x == 'Cancelado').sum()),
    count_reprovado=('status', lambda x: (x == 'Reprovado').sum()),
    count_matriculado=('status', lambda x: (x == 'Matriculado').sum()),    
    count=('matricula', 'count'),
    )

dif_percentuais = df_5.loc['2020-2021'] - df_5.loc['2018-2019']
dif_df = pd.DataFrame([dif_percentuais], index=['Dif_Percentual'])
df_5_final = pd.concat([df_5, dif_df])
df_5_final.round(1)

,pct_aprovado,pct_reprovado_nota,pct_reprovado_freq,pct_cancelado,pct_reprovado,pct_matriculado,avg_nota,avg_nota_aprovados,avg_nota_reprovados_nota,avg_nota_reprovados_freq,count_aprovado,count_reprovado_nota,count_reprovado_freq,count_cancelado,count_reprovado,count_matriculado,count
2018-2019,70.6,5.7,23.7,0.0,0.0,0.0,59.0,75.5,23.2,3.6,149.0,12.0,50.0,0.0,0.0,0.0,211.0
2020-2021,56.1,8.8,20.6,14.5,0.0,0.0,51.5,84.2,20.7,0.4,128.0,20.0,47.0,33.0,0.0,0.0,228.0
Dif_Percentual,-14.5,3.1,-3.1,14.5,0.0,0.0,-7.5,8.7,-2.6,-3.2,-21.0,8.0,-3.0,33.0,0.0,0.0,17.0

In [20]:
# 6. Compare a volta às aulas híbrida (2022 período 1) com os anos de pandemia e os anos anteriores.

df_filtered = df.reset_index()

df_filtered['grupo_ano'] = df_filtered.apply(
    lambda x: '2018-2019' if x['ano'] in [2018, 2019] 
    else ('2020-2021' if x['ano'] in [2020, 2021] 
    else ('2022-1' if x['ano'] == 2022 and x['periodo'] == '1' 
    else ('2022-2' if x['ano'] == 2022 and x['periodo'] == '2' 
    else 'Outros'))),
    axis=1)

df_filtered = df_filtered[
    (df_filtered['status'] != 'Matriculado') & # parece ser casos que a disciplina ainda está em aberto    
    (df_filtered['tipo'] == 'TURMA') & # outros são equivalencia e aproveitamento
    (df_filtered['grupo_ano'].isin(['2018-2019', '2020-2021', '2022-1', '2022-2'])) # outros são equivalencia e aproveitamento
]


df_5 = df_filtered.groupby(['grupo_ano']).agg(        
    pct_aprovado=('status', lambda x: (x == 'Aprovado').sum() / len(x) * 100),
    pct_reprovado_nota=('status', lambda x: (x == 'R-freq').sum() / len(x) * 100),
    pct_reprovado_freq=('status', lambda x: (x == 'R-nota').sum() / len(x) * 100),
    pct_cancelado=('status', lambda x: (x == 'Cancelado').sum() / len(x) * 100),
    pct_reprovado=('status', lambda x: (x == 'Reprovado').sum() / len(x) * 100),
    pct_matriculado=('status', lambda x: (x == 'Matriculado').sum() / len(x) * 100),     
    avg_nota = ('nota', 'mean'),       
    avg_nota_aprovados=('nota', lambda x: x[df_filtered.loc[x.index, 'status'] == 'Aprovado'].mean()),
    avg_nota_reprovados_nota =('nota', lambda x: x[df_filtered.loc[x.index, 'status'].isin(['R-nota'])].mean()),     
    avg_nota_reprovados_freq =('nota', lambda x: x[df_filtered.loc[x.index, 'status'].isin(['R-freq'])].mean()),     
    count_aprovado=('status', lambda x: (x == 'Aprovado').sum()),
    count_reprovado_nota=('status', lambda x: (x == 'R-freq').sum()),
    count_reprovado_freq=('status', lambda x: (x == 'R-nota').sum()),
    count_cancelado=('status', lambda x: (x == 'Cancelado').sum()),
    count_reprovado=('status', lambda x: (x == 'Reprovado').sum()),
    count_matriculado=('status', lambda x: (x == 'Matriculado').sum()),    
    count=('matricula', 'count'),
    )

dif_2022_1__2018_2019 = df_5.loc['2022-1'] - df_5.loc['2018-2019']
dif_2022_1__pandemia = df_5.loc['2022-1'] - df_5.loc['2020-2021']
dif_df_normal = pd.DataFrame([dif_2022_1__2018_2019], index=['dif_2022_1__2018_2019'])
dif_df_pandemia = pd.DataFrame([dif_2022_1__pandemia], index=['dif_2022_1__pandemia'])
df_5_final = pd.concat([df_5, dif_df_normal, dif_df_pandemia])
df_5_final.round(1)

,pct_aprovado,pct_reprovado_nota,pct_reprovado_freq,pct_cancelado,pct_reprovado,pct_matriculado,avg_nota,avg_nota_aprovados,avg_nota_reprovados_nota,avg_nota_reprovados_freq,count_aprovado,count_reprovado_nota,count_reprovado_freq,count_cancelado,count_reprovado,count_matriculado,count
2018-2019,70.6,5.7,23.7,0.0,0.0,0.0,59.0,75.5,23.2,3.6,149.0,12.0,50.0,0.0,0.0,0.0,211.0
2020-2021,56.1,8.8,20.6,14.5,0.0,0.0,51.5,84.2,20.7,0.4,128.0,20.0,47.0,33.0,0.0,0.0,228.0
2022-1,60.4,7.7,29.7,2.2,0.0,0.0,53.0,77.8,19.8,1.6,55.0,7.0,27.0,2.0,0.0,0.0,91.0
dif_2022_1__2018_2019,-10.2,2.0,6.0,2.2,0.0,0.0,-6.0,2.4,-3.5,-2.0,-94.0,-5.0,-23.0,2.0,0.0,0.0,-120.0
dif_2022_1__pandemia,4.3,-1.1,9.1,-12.3,0.0,0.0,1.5,-6.3,-0.9,1.2,-73.0,-13.0,-20.0,-31.0,0.0,0.0,-137.0

In [21]:
# 7. Compare a volta às aulas presencial (2022 período 2) com a volta híbrida do item anterior.
# não parece que faz sentido
# sem valores para essa resposta